<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>JSPTest</servlet-name>
        <jsp-file>jsp_test.jsp</jsp-file>
    </servlet>

    <servlet>
        <servlet-name>ProjectHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ModuleHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectModuleHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectModuleHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectKeyHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectKeyHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityNameHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.EntityNameHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectRatingHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectRatingHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectFieldHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectFieldHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectFilterHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectFilterHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.TransactionHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectBrowserHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectBrowserHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComplexCursorHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ComplexCursorHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountQueryHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.CountQueryHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDOHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.jdo.JDOHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JPAHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.jpa.JPAHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IndexVersatilityHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.IndexVersatilityHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectionQueryServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectionQueryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LimitTestServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.LimitTestServlet</servlet-class>
    </servlet>


    <servlet>
        <servlet-name>MainHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.blobstore.MainHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.blobstore.UploadHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.blobstore.DownloadHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlobQueryHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.blobstore.BlobQueryHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ProjectLogoHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.images.ProjectLogoHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>QueueServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.QueueServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CleanupServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.CleanupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskCounterHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.TaskCounterHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TaskCounterWorkerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.TaskCounterWorkerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PullTaskHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.PullTaskHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LeaseModificationHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.LeaseModificationHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BriefLeaseHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.BriefLeaseHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionalTaskHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.TransactionalTaskHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionalTaskWorkerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.taskqueue.TransactionalTaskWorkerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>MemcacheHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.memcache.MemcacheHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemcacheMultiKeyHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.memcache.MemcacheMultiKeyHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JCacheHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.memcache.JCacheHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemcacheIncrHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.memcache.MemcacheIncrHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MemcacheCasHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.memcache.MemcacheCasHandlerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>AuthorizedAccessHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.users.AuthorizedAccessHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginURLHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.users.LoginURLHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>XmppHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.xmpp.XmppHandlerServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>XmppReceiverServlet</servlet-name>
      <servlet-class>com.appscale.hawkeye.xmpp.XmppReceiverServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnvironmentVariableHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.envvar.EnvironmentVariableHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CronHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.cron.CronHandlerServlet</servlet-class>
    </servlet>

    <!-- Servlets for testing Modules functionality -->
    <servlet>
        <servlet-name>GetVersionDetailsHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.modules.GetVersionDetailsHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetEntityHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.modules.GetEntityHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateEntityHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.modules.CreateEntityHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTaskHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.modules.AddTaskHandlerServlet
        </servlet-class>
    </servlet>
    <!-- End Modules -->

    <servlet-mapping>
        <servlet-name>JSPTest</servlet-name>
        <url-pattern>/java/jsp</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/module</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectModuleHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_modules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectKeyHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_keys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityNameHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/entity_names</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectRatingHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_ratings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectFieldHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_fields</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectFilterHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectBrowserHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_cursor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComplexCursorHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/complex_cursor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountQueryHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/count_query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDOHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/jdo_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JPAHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/jpa_project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IndexVersatilityHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/index_versatility</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectionQueryServlet</servlet-name>
        <url-pattern>/java/datastore/projection_query</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LimitTestServlet</servlet-name>
        <url-pattern>/java/datastore/limit_test</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MainHandlerServlet</servlet-name>
        <url-pattern>/java/blobstore/url</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadHandlerServlet</servlet-name>
        <url-pattern>/java/blobstore/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadHandlerServlet</servlet-name>
        <url-pattern>/java/blobstore/download/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlobQueryHandlerServlet</servlet-name>
        <url-pattern>/java/blobstore/query</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProjectLogoHandlerServlet</servlet-name>
        <url-pattern>/java/images/logo</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>QueueServlet</servlet-name>
        <url-pattern>/java/taskqueue/exists</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CleanupServlet</servlet-name>
        <url-pattern>/java/taskqueue/clean_up</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskCounterHandlerServlet</servlet-name>
        <url-pattern>/java/taskqueue/counter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TaskCounterWorkerServlet</servlet-name>
        <url-pattern>/java/taskqueue/worker</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PullTaskHandlerServlet</servlet-name>
        <url-pattern>/java/taskqueue/pull</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LeaseModificationHandlerServlet</servlet-name>
        <url-pattern>/java/taskqueue/pull/lease_modification</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BriefLeaseHandlerServlet</servlet-name>
        <url-pattern>/java/taskqueue/pull/brief_lease</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionalTaskHandlerServlet</servlet-name>
        <url-pattern>/java/taskqueue/trans</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionalTaskWorkerServlet</servlet-name>
        <url-pattern>/java/taskqueue/transworker</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MemcacheHandlerServlet</servlet-name>
        <url-pattern>/java/memcache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemcacheMultiKeyHandlerServlet</servlet-name>
        <url-pattern>/java/memcache/multi</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JCacheHandlerServlet</servlet-name>
        <url-pattern>/java/memcache/jcache</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemcacheIncrHandlerServlet</servlet-name>
        <url-pattern>/java/memcache/incr</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MemcacheCasHandlerServlet</servlet-name>
        <url-pattern>/java/memcache/cas</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AuthorizedAccessHandlerServlet</servlet-name>
        <url-pattern>/java/users/secure</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginURLHandlerServlet</servlet-name>
        <url-pattern>/java/users/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnvironmentVariableHandlerServlet</servlet-name>
        <url-pattern>/java/env/var</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CronHandlerServlet</servlet-name>
        <url-pattern>/java/cron</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>XmppHandlerServlet</servlet-name>
        <url-pattern>/java/xmpp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>XmppReceiverServlet</servlet-name>
      <url-pattern>/_ah/xmpp/message/chat/</url-pattern>
    </servlet-mapping>

    <!-- URLs for testing Modules functionality -->
    <servlet-mapping>
        <servlet-name>GetVersionDetailsHandlerServlet</servlet-name>
        <url-pattern>/modules/versions-details</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEntityHandlerServlet</servlet-name>
        <url-pattern>/modules/get-entity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetEntityHandlerServlet</servlet-name>
        <url-pattern>/modules/get-entities</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateEntityHandlerServlet</servlet-name>
        <url-pattern>/modules/create-entity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTaskHandlerServlet</servlet-name>
        <url-pattern>/modules/add-task</url-pattern>
    </servlet-mapping>
    <!-- End Modules -->

    <security-constraint>
        <web-resource-collection>
            <url-pattern>/java/users/secure/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
