<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
           version="2.5">

    <servlet>
        <servlet-name>ProjectHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ModuleHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ModuleHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectModuleHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectModuleHandlerServlet
        </servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectKeyHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectKeyHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EntityNameHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.EntityNameHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectRatingHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectRatingHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectFieldHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectFieldHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectFilterHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectFilterHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransactionHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.TransactionHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProjectBrowserHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.ProjectBrowserHandlerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JDOHandlerServlet</servlet-name>
        <servlet-class>com.appscale.hawkeye.datastore.JDOHandlerServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ProjectHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ModuleHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/module</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectModuleHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_modules</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectKeyHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_keys</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EntityNameHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/entity_names</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectRatingHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_ratings</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectFieldHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_fields</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectFilterHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_filter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransactionHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/transactions</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProjectBrowserHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/project_cursor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JDOHandlerServlet</servlet-name>
        <url-pattern>/java/datastore/jdo_project</url-pattern>
    </servlet-mapping>
</web-app>
